<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title></title>
    <style>
        table{
            border:1px solid black;
            margin:0 auto;
        }


        td{
            border:1px solid black;
            padding:10px;
        }
    </style>

</head>
<body>
<div>
    <div>
        <table>
            <tr>
                <th class="no">번호</th>
                <th class="title">제목</th>
                <th class="writer">이름</th>
                <th class="regdate">내용</th>

            </tr>
            <tr th:each="board : ${list}">
                <td th:text="${board.bno}" >1</td>
                <td  >  <a th:href="@{/read(bno=${board.bno})}" th:text="${board.title}" ></a></td>
                <td th:text="${board.user.name}">이름</td>
                <td th:text="${board.content}" >내용</td>
            </tr>
        </table>
        <br>
        <button  onclick="location.href='/write'"> 글쓰기</button>
    </div>
</div>
</body>
</html>